body {
    background-color: hsl(30, 38%, 92%);

}

section {

    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-radius: 10px;
    /* border: 2px solid black; */
}

.img1 {
    height: 560px;
    width: 300px;
}

div {
    height: 500px;
    width: 300px;
    /* border: 2px solid black; */
    background-color: white;
}

.img1 {
    border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
}

div:nth-of-type(3) {
    border-top-right-radius: 5px;

    border-bottom-right-radius: 5px;
    padding: 30px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.preview {
    color: grey;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700px;
    text-align: left;
    font-family: Montserrat;
}

.main-heading {
    color: hsl(212, 21%, 14%);
    font-weight: 900;
    font-size: xx-large;
    text-align: left;
    font-family: 'Fraunces', serif;
}

.paragraph {
    color: grey;
    letter-spacing: 1;
    text-transform: uppercase;
    font-weight: 700px;
    text-align: left;
    font-family: Montserrat;
    line-height: 1.2;
    margin-bottom: 30px;
}

.or_price {
    color: rgb(10, 93, 10);
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Fraunces', serif;
    letter-spacing: 1px;
}

.pre_price {
    color: grey;
    text-decoration: line-through;
    margin-left: 15px;
    font-weight: 600;
}

button {
    display: block;
    width: 300px;
    height: 50px;
    margin-top: 35px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    background-color: rgb(7, 104, 7);
    font-size: large;
    font-family: Montserrat;

}

button:hover {
    background-color: rgb(8, 83, 8);
    cursor:pointer;
}

.credits {
  margin-top:40px;
}

@media(min-width:720px) {

    div:nth-of-type(2),
    .img2 {
        display: none;
    }
}

@media(max-width:720px) {
    div:nth-of-type(1) {
        display: none;
    }

    div:nth-of-type(2) {
        width: 320px;
        height: 250px;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    .img2 {
        width: 340px;
        height: 250px;
        border-top-left-radius: 5px;

        border-top-right-radius: 5px;
    }

    div:nth-of-type(3) {
        padding: 20px;
        height: 450px;
        border-top-left-radius: 0px;

        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;

        border-bottom-right-radius: 5px;
    }

    .preview {
        margin-bottom: 5px;
    }

    .credits {
        position: static;
        margin-top: 80px;
    }
}
