body{
    background-color:hsl(220, 15%, 55%) ;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Outfit','sans-serif';
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 80ms;
   

}
/* img:hover{
    box-shadow: 0 15px 70px black;
} */
.container{
    width:300px;
    height: 500px;
    /* border: 2px solid black; */
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0 0 20px black;
}
h1{
    color:hsl(218, 44%, 22%);
    
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 5px ;
}
.second{
    color: grey;
    padding-bottom: 5px ;
    font-weight: 700px;
}
a{
    font-style: none;
}
